/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app
/storage/framework
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/tinx
/storage/old/*
/storage/debugbar/
/vendor
/.idea
/.vagrant
/public/img/blog/*

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
*.sketch
logout/
database/backups/*
/database/*.sql

stash/
stash/*

*/.DS_Store

/project-docs/~*
\.php_cs\.cache
